.NavbarMainSec{
    width:100;
    padding:1rem 0.4rem;
    background-color: blue;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.NavLogoMainDiv a{
    text-decoration: none;
    color:white;
    font-size:1.2rem;
}

.NavBtnMainDiv a{
    text-decoration: none;
    padding:0.5rem 1rem;
    border:0.08rem white solid;
    border-radius: 0.2rem;
    background-color: transparent;
    color:white;
    cursor:pointer;
    transition: all 0.6s;
}

.NavBtnMainDiv button:hover{
    background-color: white;
    color:black;
}